%h1 Listing withdrawals

%table
  %tr
    %th Amount
    %th Address
    %th User
    %th
    %th
    %th

  - @withdrawals.each do |withdrawal|
    %tr
      %td= withdrawal.amount
      %td= withdrawal.address
      %td= withdrawal.user
      %td= link_to 'Show', withdrawal
      %td= link_to 'Edit', edit_withdrawal_path(withdrawal)
      %td= link_to 'Destroy', withdrawal, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Withdrawal', new_withdrawal_path
