= simple_form_for(current_user, :method => :put, :id => 'address_form', :url => update_user_address_path) do |f|
  = f.input 'full_name', :label => 'Full Name', :input_html => {:autocomplete => 'off'}
  = f.input 'address1', :label => 'Address Line 1', :input_html => {:autocomplete => 'off'}
  = f.input 'address2', :label => 'Address Line 2', :input_html => {:autocomplete => 'off'}
  = f.input 'city', :input_html => {:autocomplete => 'off'}
  = f.input 'state', :input_html => {:autocomplete => 'off'}
  = f.input 'zip_code', :label => 'Zip Code', :input_html => {:autocomplete => 'off'}
  = f.button :submit, :class => 'medium action button', :value => 'Update Address'