= form_tag(update_user_address_path, :method => :put, :id => 'address_form') do
  %div= text_field_tag 'full_name', nil,  {:placeholder => 'Full Name', :type => 'text', :size => '20', :autocomplete => 'off'}
  %div= text_field_tag 'address1', nil,  {:placeholder => 'Address Line 1', :type => 'text', :size => '20', :autocomplete => 'off'}
  %div= text_field_tag 'address2', nil,  {:placeholder => 'Address Line 2', :type => 'text', :size => '20', :autocomplete => 'off'}
  %div= text_field_tag 'city', nil,  {:placeholder => 'City', :type => 'text', :size => '20', :autocomplete => 'off'}
  %div= text_field_tag 'state', nil,  {:placeholder => 'State', :type => 'text', :size => '20', :autocomplete => 'off'}
  %div= text_field_tag 'zip_code', nil,  {:placeholder => 'Zip Code', :type => 'text', :size => '20', :autocomplete => 'off'}
  %button.submit-button{:type => 'submit', :autocomplete => 'off'} Update Address