- content_for :left_sidebar do
  = render :partial => 'edit_sidebar', :layout => 'layouts/left_sidebar'

#edit_balance
  .row
    .six.columns
      %h3= "Current Balance: $#{@user.balance}"
      %a#toggle_withdraw Withdraw Balance
      .withdraw
        - if @user.address
          %form.hide.widthraw_form{:method => "POST", :action => withdraw_path}
            = "By clicking 'Withdraw', you submit that you would like Spruceling to send you your full account balance (#{@user.balance}) to the following address:"
            = render "users/address", :address => @user.address
            You can update your shipping address by clicking 'Shipping Address' on the left.

        - else
          %div Please update your shipping address so we can send you a check