- content_for :left_sidebar do
  = render :partial => 'sidebar', :layout => 'layouts/left_sidebar'

#edit_information.row
  .six.columns
    %h3 Shipping Address
    .current_address= render 'users/address', :address => current_user.address if current_user.address
  .six.columns
    %h3 Payment Information
    .current_payment= "Using #{current_user.stripe.active_card['type']} ending with #{current_user.stripe.active_card['last4']}"

.row.forms-row
  .six.columns
    = render 'users/address_form'
  .six.columns
    = render 'users/stripe_card_form'
