- content_for :left_sidebar do
  = render :partial => 'edit_sidebar', :layout => 'layouts/left_sidebar'

#edit_information
  %h1 Payment Information
  .row.section
    .content
      - if current_user.stripe && current_user.stripe.active_card
        .current_payment= "Currently using #{current_user.stripe.active_card['type']} ending with #{current_user.stripe.active_card['last4']}"
      = render 'users/stripe_card_form'
