.section.photos
  .head
    %h3 Box Photos
    %h5.subheader
      Please make sure every piece of clothing in your box is pictured.
      You can include multiple pieces in a single picture.
  .content
    %input{:type => 'file', :name => 'photos[]', :multiple => true, 'data-url' => photos_path, :id => 'boxes_photo_upload'}

    %script{:id => 'template-upload', :type => 'text/x-tmpl'}
      .upload
        {%=o.name%}
        .progress
          .bar{:style => 'width: 0%'}

    .photo-list
      - @box.photos.each do |photo|
        = render "photos/cover_photo", :photo => photo, :remove_link => true

= simple_form_for @box, :html => {:class => "box_form"} do |f|

  .errors
    = f.error_notification
    = f.error :photos

  .section.items
    .head
      %h3 Clothing Items
      %h5.subheader 5-15 items. Gently used or new clothing only please!
    .content
      .item-list

        - @box.items.each do |item|
          = render 'items/form_teaser', :item => item

      .item_form

  .section.price
    .head
      %h3 Box Price
    .content
      .recommended
        Recommended price between
        %span.low= "$#{@box.recommended_price[:recommended_low]}"
        and
        %span.high= "$#{@box.recommended_price[:recommended_high]}"

      .asking-price
        = f.input :seller_price, :size => 3, :label => false, :error => false, :input_html => {:autocomplete => 'off', :plnameer => '0'}
        .name Asking Price

      = f.error :seller_price

      .shipping
        %i.icon-road
        %h5 We'll take care of shipping
        .shipping_note
          The display price will be
          $
          %span{'data-shipping' => 12}= @box.price_total
          which includes shipping.

    =   f.input :id, :as => :hidden

  .section.description
    .head
      %h3 Notes
      %h5.subheader Anything parents would want to know about your box.
    .content
      = f.input :notes, :label => false, :as => :text, :input_html => { :rows => 3 }

  = f.error :base

  = f.button :submit, 'Submit Box', :class => 'large action submit button'


.hide
  = simple_form_for Item.new do |fi|
    .errors
    .inputs
      = fi.select :item_type_id, ItemType.all_types, :prompt => "Select a clothing type"
      = fi.input :brand, :label => false, :input_html => {:autocomplete => 'off', :placeholder => 'Type a brand name...'}
      = fi.input :brand_id, :as => :hidden

      .nwt
        = fi.check_box :new_with_tags
        %span.head New With Tags?

      = fi.input :box_id, :as => :hidden, :input_html => {:value => @box.id}
      = fi.input :gender, :as => :hidden, :input_html => {:value => @box.gender}
      = fi.input :size, :as => :hidden, :input_html => {:value => @box.size}
    .clear
    = fi.button :submit, 'Add Item', :class => 'small action button add_item'