= simple_form_for @box, :html => {:class => "box_form"} do |f|
  = f.error_notification

  .section.photos
    %h3 1. Box Photos
    %h5.subheader
      Please make sure every piece of clothing in your box is pictured.
      You can include multiple pieces in a single picture.
    = f.input :photos, :as => :attachinary, :label => false

  .section.items
    %h3 2. Clothing Items
    %h5.subheader 5-20 items. Gently used or new clothing only please! More language about requirements here...?

    .items

      - @box.items.each do |item|
        .item= "#{item.brand.name} #{item.item_type.name}"

      %fieldset.item_form
        %legend New Item
        = simple_form_for Item.new do |fi|
          .errors
          = fi.select :item_type_id, ItemType.all_types, :prompt => "Select a clothing type"
          = fi.collection_select :brand_id, Brand.all, :id, :name, :prompt => "Select a brand"

          .nwt
            = fi.check_box :new_with_tags
            %span.head New With Tags?

          .head Optional Photos
          = fi.input :photos, :as => :attachinary, :label => false

          = fi.input :box_id, :as => :hidden, :input_html => {:value => @box.id}
          = fi.input :gender, :as => :hidden, :input_html => {:value => @box.gender}
          = fi.input :size, :as => :hidden, :input_html => {:value => @box.size}
          .small.action.button.add_item Add Item

    .section.price
      %h3 3. Box Price
      = f.input :seller_price, :size => 3

    = f.error :base

    .section.actions
      = f.button :submit, 'Submit Box', :class => 'large action button'
