.row
  %p Please review this box! Reviews help other parents get quality clothes.
  = simple_form_for @box, :url => rate_box_path(@box), :method => "PUT", :html => {:class => "rating_form"} do |f|
    = f.error_notification

    .nine.columns.left
      = f.input :review, :as => :text, :input_html => { :rows => "4" }
    .three.columns.right
      = f.input :rating, :as => :select, :collection => 1..5, :prompt => "Rate this box 1-5"
      .clear
      = f.submit "Submit Review", :as => :submit, :class => "medium action button submit_review"