.box_teaser
  .photo
    = box.photos.length > 0 ? cl_image_tag(box.photos.first.path, { :size => '230x230', :crop => :fill }) : ''
    .overlay
      .price $50
      %a.medium.action.button.add_to_cart{:href => cart_add_path(:box_id => box.id), 'data-method' => 'put'}
        %i.icon-shopping-cart
        Add to Cart
      %a.bg{:href => box_path(box)}

  .bottom

    %div{:class => "#{box.gender}"}
      = box.gender_noun
      = box.size

    .user= link_to box.user.name, user_path(box.user)