
%div{:id => "box-#{box.id}", :class => "box_teaser #{box.brands_with_icons.length == 0 ? 'no-brand-icons' : ''}"}
  - cache box do
    %a.photo-wrapper{:href => box_path(box)}
      - box.brands_with_icons.first(2).each_with_index do |brand,i|
        %div{:class => "brand #{i == 0 ? 'one' : 'two'}"}
          = image_tag brand.icon_path, :title => brand.name, :alt => brand.name, :e => :grayscale
      .primary-image
        = render "photos/cover_photo", :photo => box.primary_image, :size => :medium

    .bottom
      .item-types
        - box.item_types.each do |it|
          = image_tag "/images/clothing_icons/#{it.downcase}_icon.png", :title => it

      .gender_size
        %span{:class => "color #{box.gender}"}= box.gender_noun
        = "#{box.size}, #{box.items.count} Items"

      .prices
        %span.seller
          = "$#{box.price_total.to_i}"
        %span.retail
          = "$#{box.recommended_price[:retail].to_i}"
        %span.savings
          %span.off
            = "#{box.recommended_price[:savings].to_i}% Off"
          Retail

      %a.add_to_cart{:href => cart_add_path(:box_id => box.id), 'data-method' => 'put'}
        %i.icon-shopping-cart
        Add to Cart

    - if box.new_with_tags_count > 0
      %i.icon-certificate{:title => "#{pluralize(box.new_with_tags_count, 'Item')} New With Tags"}
        %span= box.new_with_tags_count

  - if signed_in? && current_user.id == box.user_id
    = render "boxes/teaser_actions", :box => box