%p#notice= notice

%p
  %b Gender:
  = @box.gender
%p
  %b Size:
  = @box.size

- @box.photos.each do |photo|
  %div= cl_image_tag(photo.path, { :size => '300x300', :crop => :fit })

= render 'boxes/itemized', :box => @box

= link_to 'Edit', edit_box_path(@box)
\|
= link_to 'Back', boxes_path
