- content_for :left_sidebar do
  = render :partial => "users/sidebar", :layout => 'layouts/left_sidebar'

%h1
  %span.color{:class => @box.gender}= @box.gender_noun
  %span.size= "Size #{@box.size}"
  Box

  - if @box.status == 'active'
    %a.medium.action.button.add_to_cart{:href => cart_add_path(:box_id => @box.id), 'data-method' => 'put', :disabled => "disabled"}
      %i.icon-shopping-cart
      Add to Cart

- if @box.status == 'sold' && @box.rating = nil && current_user #TODO: something something
  .section
    .content
      = render 'rating_form'

.section
  .content
    .price
      %span.seller
        = "$#{@box.price_total.to_i}"
      %span.retail
        = "$#{@box.recommended_price[:retail].to_i}"
      %span.savings
        %span.off
          = "#{@box.recommended_price[:savings].to_i}% Off"
        Retail

    #photo-list
      - @box.photos.each do |photo|
        = render "photos/contain_photo", :photo => photo

- if @box.notes
  .section
    .head
      %h3 Notes from the seller

    .content
      %div= @box.notes

.section
  .head
    %h3 What's in the box?

  .content
    = render 'boxes/itemized', :box => @box

    %a.medium.action.button.add_to_cart{:href => cart_add_path(:box_id => @box.id), 'data-method' => 'put', :disabled => "disabled"}
      %i.icon-shopping-cart
      Add to Cart