- content_for :left_sidebar do
  = render :partial => "users/sidebar", :layout => 'layouts/left_sidebar'

- cache @box do
  %h1
    %span.color{:class => @box.gender}= @box.gender_noun
    %span.size= "Size #{@box.size}"
    Box

    -if current_user && @box.user_id == current_user.id
      %a.medium.action.button.edit_box{:href => edit_box_path(:id => @box.id), 'data-method' => 'put'}
        Edit this box
    - elsif @box.status == 'active'
      %a.medium.action.button.add_to_cart{:href => cart_add_path(:box_id => @box.id), 'data-method' => 'put'}
        %i.icon-shopping-cart
        Add to Cart

  - if @box.status == 'sold' && @box.rating.blank? && @box.ordered_by?(current_user)
    .section.rate-me
      .content
        = render 'rating_form'
  - elsif !@box.rating.blank?
    .section.rate-me
      .content
        %h4 Sold!
        = render 'rating'
  .section
    .content
      .price
        %span.seller
          = "$#{@box.price_total.to_i}"
        %span.retail
          = "$#{@box.recommended_price[:retail].to_i}"
        %span.savings
          %span.off
            = "#{@box.recommended_price[:savings].to_i}% Off"
          Retail

  .section
    .head
      %h3 What's in the box?
    .content
      .brands
        %h5= "#{@box.brands.count} Brands"
        %ul
          - @box.brands.each do |b|
            %li= image_tag b.icon_path, :title => b.name, :alt => b.name, :height => 100, :width => 100

      %h5= "#{@box.items.count} Items"
      .row
        .six.columns
          .item-types
            %ul
              - @box.item_categories.each do |it|
                %li
                  = image_tag "/images/clothing_icons/#{it.downcase}_icon.png", :title => it
                  %span
                    = pluralize(@box.items_by_category(it).count, it.singularize)
        .six.columns
          .itemized
            = render 'boxes/itemized', :box => @box

  - unless @box.notes.blank?
    .section
      .head
        %h3 Notes from the seller

      .content
        %p= @box.notes

  .section
    .content
      -if current_user && @box.user_id == current_user.id
        %a.medium.action.button.edit_box{:href => edit_box_path(:id => @box.id), 'data-method' => 'put'}
          Edit this box
      - elsif @box.status == 'active'
        %a.medium.action.button.add_to_cart{:href => cart_add_path(:box_id => @box.id), 'data-method' => 'put', :disabled => ("disabled" if current_user && @box.user_id == current_user.id)}
          %i.icon-shopping-cart
          Add to Cart

  .section
    .content
      #photo-list
        - @box.photos.each do |photo|
          = render "photos/contain_photo", :photo => photo
