#order_show
  %h1= "Thank you for your order!"
  .order.section
    .head
      %h3
        ="Order ##{@order.id}"
        %span= "placed on #{@order.created_at.strftime('%B %d, %Y at %I:%M %p')}"

    .order_details.content
      %div= "Payment Type:    #{@order.stripe_charge.card.type} **** **** **** #{@order.stripe_charge.card.last4}"
      %div= "Number of boxes: #{@order.order_items.length}"
      %div= "Total:           $#{@order.price_total}"

      - @order.boxes.each do |box|
        .box= render "boxes/itemized", :box => box