%h1 My Cart

%table
  %tr
    %th Gender
    %th Size
    %th
    %th
    %th

  - @cart.boxes.each do |box|
    %tr
      %td= box.gender
      %td= box.size
      %td= link_to 'Show', box
      %td= link_to 'Remove from cart', cart_remove_path(:box_id => box.id), :method => :put

%br

- if current_user.stripe
  %div= "Using #{current_user.stripe.active_card['type']} ending with #{current_user.stripe.active_card['last4']}"
- else
  = form_tag(user_update_stripe_path, :method => :post, :id => 'payment-form') do
    .payment-errors
    .form-row
      %label Card Number
      %input.card-number{:type => 'text', :size => '20', :autocomplete => 'off'}
    .form-row
      %label CVC
      %input.card-cvc{:type => 'text', :size => '4', :autocomplete => 'off'}
    .form-row
      %label Expiration (MM/YYYY)
      %input.card-expiry-month{:type => 'text', :size => '2', :autocomplete => 'off'}
      %span
      %input.card-expiry-year{:type => 'text', :size => '4', :autocomplete => 'off'}
    %input.stripe-token{:type => 'hidden', :name => 'stripeToken'}
    %button.submit-button{:type => 'submit', :autocomplete => 'off'} Submit Payment
