#cart_show
  %h1 My Cart

  - if @cart.boxes.length > 0
    %table
      - @cart.boxes.each do |box|
        %tr
          %td= "#{box.gender_noun} #{box.size} from #{box.user.name}"
          %td= link_to 'Show', box
          %td= link_to 'Remove from cart', cart_remove_path(:box_id => box.id), :method => :put
          %td= number_to_currency box.price_total
      %tr.total
        %td Total
        %td
        %td
        %td= number_to_currency @cart.price_total


    %br

    - if current_user.stripe
      %div= "Using #{current_user.stripe.active_card['type']} ending with #{current_user.stripe.active_card['last4']}"
      .buy= link_to 'Complete Purchase!', orders_path, :method => :post, :class => "btn btn-action"
    - else
      = form_tag(user_update_stripe_path, :method => :post, :id => 'payment-form') do
        .payment-errors
        .form-row
          %label Card Number
          %input.card-number{:type => 'text', :size => '20', :autocomplete => 'off'}
        .form-row
          %label CVC
          %input.card-cvc{:type => 'text', :size => '4', :autocomplete => 'off'}
        .form-row
          %label Expiration (MM/YYYY)
          %input.card-expiry-month{:type => 'text', :size => '2', :autocomplete => 'off'}
          %span
          %input.card-expiry-year{:type => 'text', :size => '4', :autocomplete => 'off'}
        %input.stripe-token{:type => 'hidden', :name => 'stripeToken'}
        %button.submit-button{:type => 'submit', :autocomplete => 'off'} Submit Payment Information

  - else
    .empty-cart You haven't added any boxes to your cart!