%p
  = "#{@order_item.box.user.name} has shipped you a box, and it should arrive in the next few days! Here's the box we're talking about:"

%div= render :partial => "boxes/email"

%p= "If you did not order this box, please email #{link_to 'support@spruceling.com', 'mailto:support@spruceling.com'}.".html_safe

%p The Spruceling Team