%p Thank you for your order! The sender has been notified and will ship your box within 3-4 days. In the meantime, here's your receipt.

%div= "Email address:   #{@user.email}"
%div= "Name:            #{@user.email}"
%div= "Date:            #{I18n.localize @order.created_at, :format => :long}"
%div= "Order ID:        #{@order.id}"
%div= "Payment Type:    #{@order.stripe_charge.card['type']} **** **** **** #{@order.stripe_charge.card['last4']}"

%br
%div= "Number of boxes: #{@order.order_items.length}"
%div= "Total:           #{number_to_currency @order.price_total}"
%div Retailer: Spruceling, Inc

- @order.boxes.each do |box|
  %div= render "boxes/itemized", :box => box

%p Thanks, and we hope you enjoy your boxes!

%p The Spruceling Team