%p Good news: Someone wants your clothes! We're sending you an empty box now, and you'll get paid for it once you fill it up and send it out.

%p= "You'll be sending #{pluralize @boxes.length, 'box'} to #{@order.user.name}:"

- @boxes.each do |box|
  %div= render 'boxes/link', :box => box, :absolute => true
  %div= render "boxes/itemized", :box => box

%p= "If there are any issues with the items listed above, please notify us immediately by emailing #{link_to 'support@spruceling.com', 'mailto:support@spruceling.com'}. Otherwise, please find instructions inside the box.".html_safe

%p The Spruceling Team