%p Good news! Someone wants your clothes, and you'll get a swap point in return!

%p= "You'll be sending #{pluralize @boxes.length, 'box'} to #{@order.user.name}:"

- @boxes.each do |box|
  %div= "Box of #{box.gender_noun} #{box.size} clothing"
  - box.items.each do |item|
    %div= "- #{item.brand} #{item.type}"

%p= "If there are any issues with the items listed above, please notify us immediately by emailing #{link_to 'support@spruceling.com', 'mailto:support@spruceling.com'}. Otherwise, please find instructions inside the box.".html_safe

%p The Spruceling Team