= simple_form_for @item, :html => { :class => "item-form"} do |f|
  .errors

  .photo-wrapper
    = f.input :photo, :as => :file

  .inputs
    .item.gender
      = f.collection_radio_buttons :gender, [['m', 'Boy'] ,['f', 'Girl']], :first, :last
    .item.size
      = f.select :size, Item.all_sizes, :prompt => "Select a size"
    .item.type
      = f.select :item_type_id, ItemType.all_types, :prompt => "Select a clothing type"
    .item.brand
      = f.input :brand, :label => false, :input_html => {:autocomplete => 'off', :placeholder => 'Type a brand name...'}
      = f.input :brand_id, :as => :hidden
    .item.nwt
      = f.check_box :new_with_tags
      %span.head New With Tags?
    .item.price
      = f.input :price

  .clear

  = f.button :submit, 'Add Item', :class => 'small action button'