%table
  %tr
    %th
    %th Brand
    %th Box
    %th Type
    %th Gender
    %th Size
    %th New With Tags
    %th
    %th
    %th

  - items.each do |item|
    %tr
      %td
      %td= item.brand
      %td= item.box
      %td= item.item_type.name
      %td= item.gender
      %td= item.size
      %td= item.new_with_tags
      %td= link_to 'Show', item
      %td= link_to 'Edit', edit_item_path(item)
      %td= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }