%p#notice= notice

= cl_image_tag @item.photo

%p
  %b Gender:
  = @item.gender_noun
%p
  %b Size:
  = @item.size
%p
  %b Brand:
  = @item.brand.name
- if @item.box
  %p
    %b Box:
    = link_to "Box ##{@item.box.id}", box_path(@item.box)
%p
  %b Type:
  = @item.item_type.name

%p
  %b Price:
  = @item.price

= link_to 'Edit', edit_item_path(@item)
