#header
  .main-container
    %a.brand{:href => root_path}
      = image_tag('spruceling_logo.png', :alt => 'Spruceling')

    %a{:href => 'http://www.facebook.com/Spruceling', :target => '_blank'}
      %i.social-icon.icon-facebook-sign
    %a{:href => 'http://twitter.com/spruceling', :target => '_blank'}
      %i.social-icon.icon-twitter-sign
    %a{:href => 'http://pinterest.com/spruceling/', :target => '_blank'}
      %i.social-icon.icon-pinterest-sign
    %a{:href => 'mailto:support@spruceling.com', :target => '_blank'}
      %i.social-icon.icon-envelope-alt

    - if user_signed_in?
      .dropdown-container
        %a.part.my_boxes{:href => user_path(current_user)}
          = user_avatar(current_user, :width => 30, :height => 30, :crop => :thumb, :class => 'photo')
          #{current_user.name} (#{user_balance(current_user, 0)})
          %i.icon-chevron-down

        %ul.dropdown-menu{:role => 'menu', 'aria-labelledby' => 'dLabel'}
          %li
            %a{:href => cart_path}
              %i.icon-shopping-cart
              My Cart
          %li
            %a{:href => user_path(current_user)}
              %i.icon-check-empty
              My Boxes
          %li
            %a{:href => orders_path}
              %i.icon-barcode
              My Orders
          %li
            %a{:href => edit_user_registration_path}
              %i.icon-cog
              My Account
          %li
            %a{:href => destroy_user_session_path, 'data-method' => 'delete'}
              %i.icon-minus-sign
              Logout

      %a.part.cart{:href => cart_path}
        %i.icon.icon-shopping-cart
        = "Cart (#{signed_in? ? current_user.cart.boxes.length : 0})"

      %div{:class => "part new_box #{current_user.address.blank? ? 'no-address' : ''}"}
        %i.icon.icon-gift
        List New Box
        = render "boxes/nav_form"

      = link_to 'Shop', boxes_path, :class => 'part shop'

      .dropdown-container.small-menu
        .part
          Menu
          %i.icon-chevron-down

        %ul.dropdown-menu
          %li
            %a.cart{:href => cart_path}
              %i.icon.icon-shopping-cart
              = "Cart (#{signed_in? ? current_user.cart.boxes.length : 0})"
          %li
            %a{:href => new_box_path, :class => "new_box"}
              %i.icon.icon-gift
              List New Box
          %li
            %a{:href => boxes_path, :class => 'shop'}
              %i.icon.icon-heart
              Shop

    - else
      = link_to 'Login', new_user_session_path, :class => 'part login'
      = link_to 'Sign up', new_user_registration_path, :class => 'part signup'
      = link_to 'Shop', boxes_path, :class => 'part shop'