#header.row
  .three.columns
    .section.brand
      %a{:href => root_path}
        = image_tag('spruceling_logo_white.png', :alt => 'Spruceling')

  .seven.columns
    .section.middle_section
      - if user_signed_in?
        .dropdown.part
          = avatar(current_user, :width => 60, :height => 60, :crop => :thumb, :class => 'photo')
          %a.name{:href => user_path(current_user)}= current_user.name
          %i.icon-chevron-down

          %ul.dropdown-menu{:role => 'menu', 'aria-labelledby' => 'dLabel'}
            %li= link_to "My Boxes", user_path(current_user)
            %li= link_to 'My Cart', cart_path
            %li= link_to 'My Orders', orders_path
            %li= link_to 'My Account', edit_user_registration_path
            %li= link_to 'Logout', destroy_user_session_path, :method => 'delete'

        %a.part.new_box{:href => new_box_path}
          %i.icon-gift
          List New Box

        = render "boxes/nav_form"

      - else
        = link_to 'Login', new_user_session_path, :class => 'part login'
        = link_to 'Sign up', new_user_registration_path, :class => 'part signup'

  .two.columns
    .section.right_section
      %a.part.cart{:href => cart_path}
        %i.icon-shopping-cart
        = "Cart (#{signed_in? ? current_user.cart.boxes.length : 0})"