#header.row
  .left-fixed.brand
    %a{:href => root_path}
      = image_tag('spruceling_logo.png', :alt => 'Spruceling')

  - if Time.now < Chronic.parse("12am, November 28") && action_name == "about"
    #flash_notice.rafflert Rafflecopter users, scroll down!
  - else
    .nine.columns
      .section.middle_section
        - if user_signed_in?
          .dropdown.part
            = user_avatar(current_user, :width => 60, :height => 60, :crop => :thumb, :class => 'photo')
            %a.name{:href => user_path(current_user)}
              = current_user.name
              %i.icon-chevron-down
              .my_boxes My Boxes

            %ul.dropdown-menu{:role => 'menu', 'aria-labelledby' => 'dLabel'}
              %li
                %a{:href => cart_path}
                  %i.icon-shopping-cart
                  My Cart
              %li
                %a{:href => orders_path}
                  %i.icon-barcode
                  My Orders
              %li
                %a{:href => edit_user_registration_path}
                  %i.icon-cog
                  My Account
              %li
                %a{:href => destroy_user_session_path, 'data-method' => 'delete'}
                  %i.icon-minus-sign
                  Logout

          %a.part.new_box{:href => new_box_path}
            .name
              %i.icon-gift
              List New Box

          = render "boxes/nav_form"

        - else
          = link_to 'Login', new_user_session_path, :class => 'part login'
          = link_to 'Sign up', new_user_registration_path, :class => 'part signup'

    .three.columns
      .section.right_section
        %a.part.cart{:href => cart_path}
          .name
            %i.icon-shopping-cart
            = "Cart (#{signed_in? ? current_user.cart.boxes.length : 0})"