<a href="<%= root_path %>" class='brand'>
  <%= image_tag('spruceling_logo_white.png', :alt => 'Spruceling') %>
</a>

<% if user_signed_in? %>
  <div class="dropdown">
    <a class="dropdown-toggle nav_link name" data-toggle="dropdown" href="#">
      <div class='photo'>
        <%= avatar(current_user, :width => 40, :height => 40, :crop => :thumb) %>
      </div>
      <%= current_user.name %>
      <i class="icon-chevron-down icon-white"></i>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <li><%= link_to "My Profile", user_path(current_user) %></li>
      <li><%= link_to 'My Cart', cart_path %></li>
      <li><%= link_to 'My Orders', orders_path %></li>
      <li><%= link_to 'Edit Account', edit_user_registration_path %></li>
      <li><%= link_to 'Logout', destroy_user_session_path, :method => 'delete' %></li>
    </ul>
  </div>
  <%= link_to "#{current_user.cart.boxes.length} Cart", cart_path, :class => 'nav_link cart' %>
<% else %>
  <%= link_to 'Login', new_user_session_path, :class => 'nav_link login' %>
  <%= link_to 'Sign up', new_user_registration_path, :class => 'nav_link signup' %>
<% end %>

<%= link_to "Home", root_path, :class => 'nav_link home' %>
