<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Spruceling" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Spruceling" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= cloudinary_js_config %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container" class="container">
      <header>
        <%= render 'layouts/navigation' %>
        <%= render 'layouts/messages' %>
      </header>
      <div id="main" role="main">
        <%= yield %>
      </div>
      <footer>
      </footer>
    </div> <!--! end of #container -->

    <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
    <script type="text/javascript">
      // this identifies your website in the createToken call below
      Stripe.setPublishableKey('<%= STRIPE_PUBLIC_KEY %>');
    </script>
  </body>
</html>