<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Spruceling" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Spruceling" %>">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <meta property="og:title" content="Spruceling - Every kid outgrows their stuff. Why not swap it?" />
  <meta property="og:type" content="company" />
  <meta property="og:site_name" content="Spruceling" />
  <meta property="og:url" content="http://www.spruceling.com" />
  <meta property="og:image" content="null" />
  <meta property="og:description" content="" />

  <%= yield(:head) %>
</head>
<body id="splash">
  <div id="container">
    <div id="main" role="main">
      <%= yield %>

      <div id='footer'>
        <a href="http://www.twitter.com/spruceling">
          <i class="icon-twitter-sign item"></i>
        </a>
        <a href="http://www.facebook.com/spruceling">
          <i class="icon-facebook-sign item"></i>
        </a>
        <a href="mailto:founders@spruceling.com">
          <i class="icon-envelope item"></i>
        </a>
      </div>
    </div>
  </div> <!--! end of #container -->
</body>
</html>